#contato {
    background-color: #ecf0f1;
    padding: 60px 20px;
    text-align: center;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
}

#contato h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: 700;
    animation: fadeIn 2s ease-in-out forwards;
}

#contato p {
    font-size: 1.2rem;
    margin: 15px 0;
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
    color: #7f8c8d;
}

#contato p a {
    color: #2980b9;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

#contato p a:hover {
    color: #3498db;
}

#linkedin, #github {
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
